{% extends "base.html.twig" %}
{% block conteudo %}

    <div class="h-75 w-25 p-3 bg-dark d-flex flex-column align-items-center justify-content-center border border-light rounded">

    <div class="text-start w-100 px-4 text-dark-blue">
        <h5 class="text-start fs-5 fw-semibold">Nome</h5>
        <p class="fs-6">{{ usuario.nome }}</p>
    </div>

    <div class="text-start w-100 px-4 text-dark-blue">
        <h5 class="text-start fs-5 fw-semibold">E-mail</h5>
        <p class="fs-6">{{ usuario.email }}</p>
    </div>

    <div class="text-start w-100 px-4 text-dark-blue">
        <h5 class="text-start fs-5 fw-semibold">Level</h5>
        <p class="fs-6">{{ usuario.level }}</p>
    </div>

    <div class="text-start w-100 px-4 text-dark-blue">
        <h5 class="text-start fs-5 fw-semibold">Status</h5>
        <p class="fs-6">{% if usuario.nome == 1 %} Ativo {% else %} Inativo {% endif %}</p>
    </div>

    <div class="text-start w-100 px-4 text-dark-blue">
        <h5 class="text-start fs-5 fw-semibold">Cadastrado desde</h5>
        <p class="fs-6">{{ contarTempo(usuario.data_cadastro) }}</p>
    </div>

    <div class="text-start w-100 px-4 text-dark-blue">
        <h5 class="text-start fs-5 fw-semibold">Última alteraçao</h5>
        <p class="fs-6">{{ contarTempo(usuario.data_atualizacao) }}</p>
    </div>

    <div class="text-start w-100 px-4 text-dark-blue">
        <h5 class="text-start fs-5 fw-semibold">Posts publicados</h5>
        <p class="fs-6"><a href="{{ url('postsUsuario/'~usuario.id_usuario) }}" class='text-light link-offset-2 link-offset-2-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover'>Ver posts</a></p>
    </div>

{% endblock %}