{% extends "base.html.twig" %}
{% block conteudo %}


    <div class="container d-flex">
        <div class="my-3 w-75 container">
            <h1>{{ post.titulo }}</h1>
            <h6 class="card-subtitle mb-2 text-body-secondary">Texto postado por {{ postUsuario(post).nome }} no dia {{ dataFormatoDMA(post.data_postagem) }} às {{horaFormatoMH(post.data_postagem)}}.
                <br>Categoria: {{ categoria(post).titulo }}.
                <br>Última alteraçao: {% if post.ultima_alteracao != null %}{{dataFormatoDMA(post.ultima_alteracao)}} às {{horaFormatoMH(post.ultima_alteracao)}}{% else %}nenhuma{% endif %}
                <br>Visitas: {{ post.visitas}}
                <br>Última visita: {{ ultima_visita }}
            </h6>
            <p>{{ post.texto }}</p>
            {% if usuario().id_usuario == post.id_usuario %}
            <p><a href="{{ url('editar/'~post.id_post) }}" class='link-secondary link-offset-2 link-underline-opacity-100'>Editar post</a></p>
            {% endif %}
            <!-- <p>Id: {{ post.id_post }} // Status: {{ post.status == 1 ? "Ativo" : "Inativo" }}</p> -->
        </div>
        {% include "listaCategorias.html.twig" %}
    </div>


{% endblock %}